<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Learn list</title>
  </head>
  <!-- <body ng-controller="learnListCtrl as ctrl"> -->
  <body>
    <div ng-controller="learnListCtrl">
      <h1>{{value}}</h1>
      <button type="button" ng-click="changeValue()">Change</button>
    </div>
    <div ng-controller="learnListCtrl">
      <h1>{{value}}</h1>
      <button type="button" ng-click="changeValue()">Change</button>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/appScope.js"></script>
  </body>
</html>
